<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Collaborators</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button navPush="MyItemsPage" ion-fab mini><ion-icon name="pricetag-outline"></ion-icon></button>
  </ion-fab>
  <!-- <ion-list> -->
    <button ion-item *ngFor="let collaborator of collaborators">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/prod.jpg">
      </ion-thumbnail>
      <h1>{{collaborator.name}}</h1>
      <h3>cpf:{{collaborator.cpf}}</h3>
      <h2 *ngFor="let item of collaborator.items">=> {{item.name}}</h2>
      
    </button>
  <!-- </ion-list> -->
</ion-content>